.App {
  text-align: center;
}

.Order {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}


.img {
  width: 50px;
  height: 50px;
}